
.header-message {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 20px;
    background-color: #f0f4f8; /* Cambia el color de fondo si es necesario */
}

.planet-icon {
    width: 70px;
    height: 70px;
}

h1 {
    font-size: 24px;
    font-weight: normal;
    color: #333;
}

.bold-text {
    font-weight: bold;
}
